-r autogen/requirements.txt
PyMySQL~=1.0.2

pip~=21.3.1
cryptography~=36.0.0
attrs~=21.2.0
PyYAML~=5.4.1
Jinja2~=3.0.3
Werkzeug~=1.0.1
itsdangerous~=2.0.1
click~=8.0.3
MarkupSafe~=2.0.1
certifi~=2021.10.8
isodate~=0.6.0
six~=1.16.0
urllib3~=1.26.7
python-dateutil~=2.8.2
idna~=3.3
connexion~=2.9.0
clickclick~=20.10.2
requests~=2.26.0
jsonschema~=3.2.0
inflection~=0.5.1
pyrsistent~=0.18.0